/* Transition
-------------------------- */
$--md-fade-transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1),
  opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) !default;

// COLOR
$--color-black: #000000 !default;
$--color-white: #ffffff !default;
$--color-bwmix1: mix($--color-black, $--color-white, 10%) !default;
$--color-bwmix2: mix($--color-black, $--color-white, 20%) !default;
$--color-bwmix3: mix($--color-black, $--color-white, 30%) !default;
$--color-bwmix4: mix($--color-black, $--color-white, 40%) !default;
$--color-bwmix5: mix($--color-black, $--color-white, 50%) !default;
$--color-bwmix6: mix($--color-black, $--color-white, 60%) !default;
$--color-bwmix7: mix($--color-black, $--color-white, 70%) !default;
$--color-bwmix8: mix($--color-black, $--color-white, 80%) !default;
$--color-bwmix85: mix($--color-black, $--color-white, 85%) !default;
$--color-bwmix9: mix($--color-black, $--color-white, 90%) !default;

// Theme color
$--color-dark-default: $--color-black !default;
$--color-light-default: $--color-white !default;
$--color-light-blue: #b0e2ff !default;
$--color-dark-blue: #00bfff !default;
$--color-light-red: #ff6347 !default;
$--color-dark-red: #ff0000 !default;

/** Font Size */
/**------------------*/
$--font-base: 16px !default;
$--font-small: floor($--font-base * 0.8) !default; /** 12px */
$--font-small1: floor($--font-base * 0.9) !default; /** 14px */
$--font-small2: ceil($--font-base * 1.1) !default; /** 18px */
$--font-medium1: ceil($--font-base * 1.2) !default; /** 20px */
$--font-medium2: floor($--font-base * 1.4) !default; /** 22px */
$--font-medium3: $--font-base * 1.5 !default; /** 24px */
/**------------------*/
/** Font Weight */
/**------------------*/
$--font-weight-lighter: 200 !default;
$--font-weight-light: 300 !default;
$--font-weight-normal: 400 !default;
$--font-weight-blod: 600 !default;
$--font-weight-bloder: 700 !default;
/**------------------*/

/** Common */

/**------------------*/
$--common-gap5: 5px !default;
$--common-gap10: round(2 * $--common-gap5) !default;
$--common-gap15: round(3 * $--common-gap5) !default;
$--common-gap20: round(4 * $--common-gap5) !default;
$--common-border-radius-light: 4px !default;
$--common-border-radius-normal: 6px !default;

/**------------------*/

// Layout
$--aside-width: 48px !default;
$--menu-width: 240px !default;
$--status-bar-height: 20px !default;
$--status-bar-bg: #007acc !default;
$--status-bar-hover: #2885c2 !default;
$--nav-bar-height: 40px !default;
$--nav-bar-shadow-color: #101010 !default;
$--toolkit-bar-height: 36px !default;
$--menu-title-height: $--nav-bar-height;
// Components
$--drag-split-width: 4px !default;
$--drag-split-bg: #0078e6 !default;

// File
$--file-created-color: #74c991 !default;
$--file-modified-color: #e1bf8d !default;
$--file-deleted-color: #f78070 !default;
$--file-locked-color: $--color-bwmix6 !default;

// Canvas
$--grid-row-weight: 1px !default;
$--grid-row-color: #b3d8ff !default;
$--grid-column-weight: $--grid-row-weight;
$--grid-column-color: $--grid-row-color;

// Custom Components
$--comp-bg-color: #409eff !default;

// Notification
$--notification-color-success: #67c23a !default;
$--notification-color-warning: #e6a23c !default;
$--notification-color-error: #f56c6c !default;
$--notification--color-info: #909399 !default;
