@import "../variables.scss";
@import "../mixin.scss";
/** --------svgIcon start------------ */
.svg_icon {
  overflow: hidden;
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
}
.svg_external_icon {
  display: inline-block;
  mask-size: cover !important;
  background-color: currentColor;
}
/** --------svgIcon end------------ */

/** -----------dragSplit start------------ */
.drag_split {
  position: relative;
  z-index: 1001;
  background-color: transparent;

  &:hover,
  &:focus,
  &:active {
    background-color: $--drag-split-bg;
  }
  &.is {
    &_horizontal {
      width: $--drag-split-width;
      height: 100%;
      margin-left: -$--drag-split-width;
      cursor: col-resize;
    }
    &_vertical {
      width: 100%;
      height: $--drag-split-width;
      margin-top: -$--drag-split-width;
      cursor: row-resize;
    }
    &_right {
      cursor: e-resize;
    }
    &_bottom {
      cursor: s-resize;
    }
    &_top {
      cursor: n-resize;
    }
  }
}
/** -----------dragSplit end------------ */

/** ---------- tab start ------------- */
.tabs {
  font-size: 12px;
  font-weight: 600;
  .tab {
    &_item {
      &:not(:last-child) {
        border-bottom: 1px solid $--color-bwmix7;
      }
      &__header {
        width: calc(100% - 2px);
        border: 1px solid transparent;
        line-height: 1.6em;
        cursor: pointer;
        @include ellipsis;
        &:active {
          border: 1px solid $--drag-split-bg;
        }
        &.is_collapse {
          .tab_icon {
            transform: rotate(0);
          }
        }
      }
      &__content {
        overflow: auto;
        padding: 0 10px;
        line-height: 2em;
        transition: all 0.2s linear;
        &.is_collapse {
          height: 0 !important;
        }
      }
    }
    &_icon {
      vertical-align: top;
      font-size: 18px;
      transition: all 0.2s linear;
      transform: rotate(90deg);
    }
  }
}
/** ------------ tab end ------------- */
