@import "../variables.scss";
@import "../mixin.scss";
@import "@/theme/_mixin.scss";
.txeditor {
  &.is_light {
    filter: invert(1) hue-rotate(180deg);
  }
  &_inner {
    display: flex;
    height: calc(100vh - $--status-bar-height);
    .layout {
      &_aside {
        flex: 0 1 $--aside-width;
        position: relative;
        top: 0;
        left: 0;
        z-index: 999;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-width: $--aside-width;
        height: 100%;
        margin: 0 auto;
        @include background_color("--color-mix8");
        .aside {
          &_icon {
            margin: $--common-padding2 0;
            width: 1.8em;
            height: 1.8em;
            font-weight: $--font-weight-blod;
            @include font_color("--color-mix5");
            cursor: pointer;
            transition: all 200ms linear;
            &:hover {
              @include font_color("--color-mix1");
            }
            &.is_collapse {
              transform: rotate(180deg);
            }
          }
          &_label {
            position: relative;
            display: block;
            width: 100%;
            &:hover::after {
              content: attr(data-label);
              position: absolute;
              top: 50%;
              left: $--aside-width;
              transform: translateY(-50%);
              min-width: 60px;
              padding: 4px $--common-padding2;
              font-size: $--font-small;
              border: 1px solid;
              @include border_color("--color-mix6");
              @include background_color("--color-mix9");
              @include font_color("--color-mix1");
            }
          }
        }
        &_top {
          text-align: center;
          .plugin_box {
            display: flex;
            flex-direction: column;
            align-items: center;
            .is_active {
              position: relative;
              width: 100%;
              text-align: center;
              &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                display: block;
                width: 1px;
                height: 100%;
                @include background_color("--color-mix1");
              }
              .aside_icon {
                @include font_color("--color-mix1");
              }
            }
          }
        }
        &_bottom {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
      &_main_view {
        flex: auto;
        .layout {
          &_menu {
            display: flex;
            height: 100%;
            &_inner {
              width: $--menu-width;
              @include background_color("--color-mix85");
              @include font_color("--color-mix2");
              -webkit-transition: all 0.2s linear;
              -moz-transition: all 0.2s linear;
              -ms-transition: all 0.2s linear;
              -o-transition: all 0.2s linear;
              transition: all 0.2s linear;
              &.is_collapse {
                margin-left: -$--menu-width;
              }
            }
            &_title {
              display: flex;
              align-items: center;
              justify-content: space-between;
              height: $--menu-title-height;
              padding: $--common-padding2 16px;
              box-sizing: border-box;
            }
            &_label {
              font-size: $--font-small;
              @include ellipsis;
            }
            &_option {
              font-size: $--font-small2;
              transform: rotate(90deg);
              cursor: pointer;
            }
            &_main {
              flex: auto;
              @include background_color("--color-mix9");
            }
          }
        }
      }
      &_props_bar {
        width: $--menu-width;
        @include background_color("--color-mix85");
        @include font_color("--color-mix2");
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear;
        &.is_collapse {
          margin-right: -$--menu-width;
        }
      }
      &_nav_bar_wrapper {
        display: flex;
        justify-content: space-between;
        @include background_color("--color-mix85");
      }
      &_nav_settings {
        flex: 0 1 80px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        min-width: 80px;
        padding: 0 $--common-padding2;
        line-height: $--nav-bar-height;
        text-align: right;
        .nav_icon {
          @include font_color("--color-mix5");
          cursor: pointer;
          transform: rotate(0);
          transition: all 0.2s linear;
          &:hover {
            @include font_color("--color-mix1");
          }
          &.is_collapse {
            transform: rotate(180deg);
          }
          &_transition {
            animation: moveInOut 2s linear infinite;
            @keyframes moveInOut {
              0% {
                transform: translateX(0);
                opacity: 1;
              }
              50% {
                transform: translateX(10px);
                opacity: 0.6;
              }
              100% {
                transform: translateX(0);
                opacity: 1;
              }
            }
          }
        }
        .darkset {
          margin: 0 $--common-padding2;
          .nav_icon {
            width: 1.6em;
            height: 1.6em;
            vertical-align: middle;
          }
        }
      }
      &_nav_bar {
        flex: auto;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        height: $--nav-bar-height;
        line-height: $--nav-bar-height;
        @include background_color("--color-mix85");
        &::-webkit-scrollbar {
          display: none;
        }
        &__item {
          display: inline-block;
          padding: 0 $--common-padding2;
          font-size: $--font-small;
          border-right: 1px solid;
          @include border_color("--color-mix9");
          @include font_color("--color-mix1");
          @include background_color("--color-mix8");
          cursor: pointer;
          &:last-child {
            border-right: none;
          }
          .item_icon {
            margin: 0 $--common-padding2;
            width: 1.2em;
            height: 1.2em;
            vertical-align: middle;
          }

          .icon_close {
            width: 1.6em;
            height: 1.6em;
            &_outer {
              display: inline-block;
              width: 1.6em;
              height: 1.6em;
              margin-left: $--common-padding;
              line-height: 1.6em;
              vertical-align: middle;
              text-align: center;
              &:hover {
                border-radius: $--common-border-radius-light;
                @include background_color("--color-mix85");
              }
            }
          }

          &.is_active {
            @include background_color("--color-mix9");
          }
        }
      }
    }
  }
  .status_bar {
    position: relative;
    z-index: 1000;
    height: $--status-bar-height;
    padding: 0 $--common-padding4;
    font-size: $--font-small;
    line-height: $--status-bar-height;
    text-align: center;
    background-color: $--status-bar-bg;
    color: $--color-bwmix1;
  }

  .less_code {
    .comp {
      &_wrapper {
        display: flex;
        flex-wrap: wrap;
        font-size: $--font-small;
      }
      &_item {
        width: 100px;
        height: 36px;
        margin: 5px;
        line-height: 36px;
        border-radius: 10px;
        border: 2px solid $--comp-bg-color;
        box-shadow: inset 0px 0px 10px 5px
          rgba($color: $--comp-bg-color, $alpha: 0.2);
        text-align: center;
        background-color: transparent;
        color: $--color-bwmix1;
        user-select: none;
        cursor: pointer;
      }
      &_label {
        vertical-align: middle;
      }
      &_icon {
        margin-right: 5px;
        vertical-align: middle;
        font-size: $--font-base;
      }
    }
  }
}
