@import "../variables.scss";
@import "../mixin.scss";

.txeditor {
  display: flex;
  .layout {
    &_aside {
      position: relative;
      top: 0;
      left: 0;
      z-index: 999;
      flex: 0 1 $--aside-width;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 100vh;
      min-width: $--aside-width;
      margin: 0 auto;
      background-color: $--color-bwmix8;
      .aside_icon {
        margin: 10px 0;
        width: 1.8em;
        height: 1.8em;
        font-weight: 500;
        color: $--color-bwmix5;
        cursor: pointer;
        transition: all 200ms linear;
        &:hover {
          color: $--color-bwmix1;
        }
        &.is_collapse {
          transform: rotate(180deg);
        }
      }
      &_top {
        text-align: center;
        .plugin_box {
          display: flex;
          flex-direction: column;
          align-items: center;
          .is_active {
            position: relative;
            width: 100%;
            text-align: center;
            &::before {
              content: "";
              position: absolute;
              left: 0;
              top: 0;
              display: block;
              width: 1px;
              height: 100%;
              background-color: $--color-bwmix1;
            }
            .aside_icon {
              color: $--color-bwmix1;
            }
          }
        }
      }
      &_bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    &_main_view {
      flex: auto;
      .layout {
        &_menu,
        &_menu_inner {
          -webkit-transition: all 0.2s ease-out;
          -moz-transition: all 0.2s ease-out;
          -ms-transition: all 0.2s ease-out;
          -o-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
        }
        &_menu {
          display: flex;
          height: 100%;
          &_inner {
            width: $--menu-width;
            background-color: $--menu-bg;
            color: $--color-bwmix2;
            &.is_collapse {
              margin-left: -$--menu-width;
            }
          }
          &_title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 16px;
            box-sizing: border-box;
          }
          &_label {
            font-size: 12px;
            @include ellipsis;
          }
          &_option {
            font-size: 18px;
            transform: rotate(90deg);
            cursor: pointer;
          }
          &_main {
            flex: auto;
            background-color: $--main-view-bg;
          }
        }
      }
    }
  }
}
